rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Transacciones: cada usuario solo ve las suyas
    match /transactions/{docId} {
      allow read, update, delete: if request.auth != null
                                   && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null
                    && request.auth.uid == request.resource.data.userId;
    }

    // Perfiles de usuario: cada usuario solo puede leer/editar su propio perfil
    match /users/{userId} {
      allow read, update, delete: if request.auth != null
                                   && request.auth.uid == userId;
      allow create: if request.auth != null
                    && request.auth.uid == userId;
    }
  }
}